<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Все Юзеры </title>
</head>
<body>
<div>
    <div>
        <table th:border="1">
            <thead>
            <tr>
                <td>Id</td>
                <td>Name</td>
                <td>Age</td>
                <td>Email</td>
                <td>Update User</td>
                <td>Delete User</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user: ${users}">
                <td><a th:href="@{/{id}(id=${user.getId()})}" th:text="${user.getId()}"></a></td>
                <td th:text="${user.getName()}"></td>
                <td th:text="${user.getSurname()}"></td>
                <td th:text="${user.getEmail()}"></td>
                <td><a th:href="@{/{id}/update(id=${user.getId()})}">Edit</a></td>
                <td>
                    <div>
                        <form th:method="DELETE" th:action="@{/{id}(id=${user.getId()})}">
                            <p>
                                <input class="btn-danger troll" type="submit" value="Delete User"/>
                            </p>
                        </form>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <a th:href="Editit" class="btn btn-success">Editit</a>
    </div>
</div>
</body>
</html>