<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Список автомобилей</title>
</head>
<body>
<table th:border="1" th:if="${not #lists.isEmpty(cars)}">
  <tr>
    <th>Производитель</th>
    <th>Модель</th>
    <th>Год выпуска</th>
  </tr>
  <tr th:each="car : ${cars}">
    <td th:text="${car.getManufacturer()}">VALUE</td>
    <td th:text="${car.getModel()}">VALUE</td>
    <td th:text="${car.getEarRelease()}">VALUE</td>
  </tr>
</table>

<div th:if="${#lists.isEmpty(cars)}">
  <h2>Список пуст :(</h2>
</div>
</body>
</html>html>