<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Редактировать пользователя</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/users/{id}(id=${user.getId()})}" th:object="${user}">
  <label for="name">name</label>
  <input type="text" th:field="*{name}" id="name"/>

  <br>

  <label for="surname">surname</label>
  <input type="text" th:field="*{surname}" id="surname"/>

  <br>
  <label for="email">Age</label>
  <input type="text" th:field="*{email}" id="email"/>

  <br>
  <input type="submit" value="Сохранить"/>

</form>
<a th:href="@{/users}">Удалить</a>
</body>
</html>