<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <a href="/new">Добавить нового пользователя</a><hr/>
    <table th:border="1" th:if="${not #lists.isEmpty(users)}">
        <tr>
            <th>id</th>
            <th>name</th>
            <th>surname</th>
            <th>email</th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:text="${user.getid()}">VALUE</td>
            <td>
                <a th:href="@{{id}(id=${user.getId()})}" th:text="${user.getName()}">VALUE</a>
            </td>
            <td th:text="${user.getSurname()}">VALUE</td>
            <td th:text="${user.getEmail()}">VALUE</td>
            <td>
                <form th:method="GET" th:action="@{/edit/{id}(id=${user.getId()})}">
                    <input type="">




    <th:block th:each="msg : ${messages}">
        <h1 th:text="${msg}"></h1>
    </th:block>
</div>
</body>
</html>